/* --------------------- CSS PARA PAGINAS INTERNAS ---------------------*/
.interna-all{ min-height: 800px;}
.interna-meio{ min-height: 640px; width: 675px; margin-left: 301px; margin-top: 160px;}
.interna-left{ float: left; min-height: 640px; width: 295px;margin-top: 160px;}
/* --------------------- CSS PARA PAGINAS INTERNAS ---------------------*/
.pdf-down {margin-left: 60px;}
.interna-cordourada {color: #977B4D; line-height: 120%;} /*dourado*/
.interna-corazul {color: #00305f; line-height: 150%; text-align:justify;} /*azul*/
.interna-corazul-notextindent{color: #00305f; line-height: 150%;}
.interna-corcinza {color: #666666; font-size: 12px; font-weight: 900;} /*cinza*/
.subtitle {font-weight: bold; font-size: 18px; line-height: 150%;}
strong {font-weight: bold;}
.left-figure-atendcorp{margin-left: -57px; margin-top: -155px;}
.left-figure-delivery{margin-top: -155px;}
.left-figure-faleconosco{margin-top: -155px;}
.left-figure-cartoes{margin: -120px 0 0 35px;}
.right-figure-atendcorp{float: right; clear: right; margin-top: -195px;}
.right-figure-cartoes{float: right; clear: right;}
.img-bottom-cartaoprepago{margin-left: 45px;}
.img-notas{margin-left: 300px; margin-top: -250px;}
.img-delivery {margin-left: 0px;}
.img-transf{margin-left: 15px;}
.img-sac{float: right; clear: right; margin-top: -190px; margin-right: 15px;}
.img-westernunion{ margin: -120px 0 0 0;}
fieldset{background-color: #002750; width: 260px; height: 185px; padding: 4px 0 4px 0}
input, textarea {border-radius: 4px; width: 250px; margin: 1px 2px 1px 2px;}
textarea{resize: none; width: 250px; height: 80px;}
input[type^="submit"] {width: 50px; float: right;}
#apps{margin-left: 120px;}
#interna-atendCorp{margin: 25px 0 0 0;}
.espacamento-moedas{line-height: 175%;}
.western-titles{ display: block; background-color: #00305f; color: white; padding: 5px; border-radius: 8px; }
.western-numbers{ display: inline-block; background-color: #00305f; color: white; padding: 5px; border-radius: 8px; width: 14px; font-weight: bold; font-size: 24px; }
.western-main-title{ font-family: 'Eurostile LT Medium'; font-size: 24px; }
.western-subtitle {font-family: 'Eurostile LT Medium', font-size: 20px; font-weight: bold;}
