.body-content{
	padding: 10px 0 0 240px;	
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #998E8E;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #998E8E;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #998E8E;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #998E8E;
}