.bg-transparent {
  background: transparent !important; }

.bg-light-gray {
  background-color: #f5f5f5 !important; }

.bg-gray {
  background-color: #fbfbfb !important; }

.bg-white {
  background-color: #FFF !important; }

.bg-blue {
  background-color: #15325c !important; }

.bg-yellow {
  background-color: #F4D400 !important; }

.bg-whitesmoke {
  background-color: #F5F5F5 !important; }

.blue-focco {
  color: #15325c; }

.yellow {
  color: #F4D400; }

.orange {
  color: #f89a46; }

.gray {
  color: #707070; }

.red {
  color: #F07464; }

.green {
  color: #64cea2; }

.white {
  color: #FFF; }

.big-font {
  font-size: 50px; }

.small-font {
  font-size: 8px; }

.font-regular {
  font-weight: 400; }

.font-medium {
  font-weight: 500; }

.font-semibold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.font-18 {
  font-size: 18px; }

.font-15 {
  font-size: 15px; }

.font-14 {
  font-size: 14px; }

.font-12 {
  font-size: 12px; }

.font-10 {
  font-size: 10px; }

.font-italic {
  font-style: italic; }

/*Sidebar Fixed CSS fix*/
header, main, footer {
  padding-left: 240px; }

.title-forms strong {
  font-weight: 800; }

body {
  color: #707070;
  font-family: 'Roboto', sans-serif; }

.loginForm {
  background-color: #f5f5f5; }

.logo-bottom {
  margin-top: -7px; }
  .logo-bottom img {
    width: 80%; }

.spacing {
  padding-bottom: 25px; }

.dropdown-content li > a,
.dropdown-content li > span {
  color: #15325c; }

blockquote {
  border-left: 5px solid #15325c; }

nav ul a, .side-nav.fixed a {
  color: #707070; }

table td a {
  color: #15325c; }
  table td a:hover, table td a.active {
    color: rgba(21, 50, 92, 0.6); }

/* label color */
.input-field label {
  color: #707070; }

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus,
.input-field textarea:focus + label {
  color: #707070; }

/* label underline focus color */
.input-field input[type=text]:focus,
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #15325c;
  box-shadow: 0 1px 0 0 #15325c; }

textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label {
  color: #707070; }

.input-field .prefix.active {
  color: #707070; }

input {
  text-transform: uppercase; }

input[type=email] {
  text-transform: initial; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.tabs .tab a {
  color: #15325c; }
  .tabs .tab a:hover {
    color: #183969; }
.tabs .indicator {
  background-color: #183969; }

.table-visualization tbody tr td:first-child {
  font-weight: 600; }

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #15325c;
  background-color: #15325c; }

.docs-img figure {
  margin: 5px; }

.alert {
  padding: 0px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0px; }
  .alert.success {
    color: #1b5e20;
    background-color: #e8f5e9;
    border-color: #4caf50; }
  .alert.error {
    color: #b71c1c;
    background-color: #ffebee;
    border-color: #f44336; }
  .alert.warning {
    color: #f57f17;
    background-color: #fffde7;
    border-color: #ffee58; }
  .alert.observation {
    color: #464C58;
    background-color: #FAFAFA;
    border-color: #373D49; }

.disabled {
  pointer-events: none; }

.users nav {
  height: 40px;
  line-height: 40px; }
.users .profile-img img {
  width: 140px;
  height: 140px; }

.cotacoes .cotation-table thead th {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }
.cotacoes .cotation-table tbody tr td {
  text-align: center; }
  .cotacoes .cotation-table tbody tr td:first-child {
    font-weight: 700;
    color: #15325c; }

.clients nav {
  height: 40px;
  line-height: 40px; }
.clients .collection {
  border: none;
  border-radius: 0; }
.clients #boletagemHistory table thead {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700; }

.calculadora table thead th {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
.calculadora table tbody tr .moeda-name {
  font-weight: 700;
  color: #15325c; }
.calculadora table tbody tr td input[type="text"] {
  text-align: center; }
.calculadora table tbody tr td:nth-child(8) {
  font-weight: 700;
  text-align: center;
  color: #15325c; }

.mb-0 {
  margin-bottom: 0; }

.blog p {
  margin: 0; }
.blog .title {
  font-size: 30px;
  font-weight: 300; }
.blog .subtitle {
  font-size: 18px;
  font-style: italic; }
.blog .post-date {
  font-size: 14px;
  font-weight: 400; }
.blog .post-author {
  font-size: 14px;
  font-weight: 700; }
.blog .post-content {
  font-size: 12px;
  font-weight: 400; }

.card-mural .collection-item.avatar .title, .card-blog .collection-item.avatar .title {
  line-height: 40px; }
.card-mural .collection .collection-item a, .card-blog .collection .collection-item a {
  color: #15325c; }
  .card-mural .collection .collection-item a:hover, .card-mural .collection .collection-item a:visited, .card-mural .collection .collection-item a:focus, .card-blog .collection .collection-item a:hover, .card-blog .collection .collection-item a:visited, .card-blog .collection .collection-item a:focus {
    color: #183969;
    text-decoration: underline;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
