@import 'bootstrap/bootstrap-sprockets.scss';
@import 'bootstrap/bootstrap';
@import 'font-awesome/font-awesome.scss';
@import 'base';
@import 'patterns';


/*ficha cadastro online*/

body{
  font-style: normal !important;
}
header {
  height: 150px;
}
textarea{
  resize: none;
}
.help-block{
  display: none;
}
