/*--------------------- INICIO MENU COM DROP DOWN ---------------------*/
.menu {
	margin-top: -145px;
	margin-left: 437px;
}
ul.pureCssMenu {
	background-image: url('../images/barra-menu.jpg');
	font-family: 'Eurostile LT Medium';
}
ul.pureCssMenu ul {
	display: none
}
ul.pureCssMenu li:hover > ul {
	display: block
}
ul.pureCssMenu ul {
	position: absolute;
	left: -1px;
	top: 98%;
}
ul.pureCssMenu ul ul {
	position: absolute;
	left: 98%;
	top: -2px;
}
ul.pureCssMenu, ul.pureCssMenu ul {
	margin: 0px;
	list-style: none;
	padding: 0px 2px 2px 0px;
	background-color: #e5d9bd;
}
ul.pureCssMenu table {
	border-collapse: collapse
}
ul.pureCssMenu {
	display: block;
	zoom: 1;
	float: left;
}
ul.pureCssMenu ul {
	width: 225px;
}
ul.pureCssMenu li {
	display: block;
	margin: 2px 0px 0px 2px;
	font-size: 0px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
	outline-style: none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
	display: block;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	padding: 2px 5px 2px 10px;
	border-radius: 16px;
	font: 16px Trebuchet MS;
	color: #3d2104;
	text-decoration: none;
	cursor: default;
}
ul.pureCssMenu span {
	overflow: hidden;
}
ul.pureCssMenu li {
	float: left;
}
ul.pureCssMenu ul li {
	float: none;
}
ul.pureCssMenu ul a {
	text-align: left;
	white-space: nowrap;
}
ul.pureCssMenu li.sep {
	text-align: left;
	padding: 0px;
	line-height: 0;
	height: 100%;
}
ul.pureCssMenu li.sep span {
	float: none;
	padding-right: 0;
	width: 3px;
	height: 100%;
	display: inline-block;
	background-color: #cccccc #111111 #111111 #cccccc;
	background-image: none;
}
ul.pureCssMenu ul li.sep span {
	width: 100%;
	height: 3px;
}
ul.pureCssMenu li:hover {
	position: relative;
}
ul.pureCssMenu li:hover > a {
	background-color: #c3b286;
	font: 16px Trebuchet MS;
	/*color: #;*/
	text-decoration: none;
}
ul.pureCssMenu li a:hover {
	position: relative;
	background-color: #c3b286;
	font: 16px Trebuchet MS;
	/*color: #;*/
	text-decoration: none;
}
ul.pureCssMenu li.dis a {
	color: #666 !important;
}
ul.pureCssMenu img {
	border: none;
	float: left;
	margin-right: 2px;
	width: 16px;
	height: 16px;
}
ul.pureCssMenu ul img {
	width: 16px;
	height: 16px;
}
ul.pureCssMenu img.over {
	display: none
}
ul.pureCssMenu li.dis a:hover img.over {
	display: none !important
}
ul.pureCssMenu li.dis a:hover img.def {
	display: inline !important
}
ul.pureCssMenu li:hover > a img.def {
	display: none
}
ul.pureCssMenu li:hover > a img.over {
	display: inline
}
ul.pureCssMenu a:hover img.over, ul.pureCssMenu a:hover ul img.def, ul.pureCssMenu a:hover a:hover img.over {
	display: inline
}
ul.pureCssMenu a:hover img.def, ul.pureCssMenu a:hover ul img.over, ul.pureCssMenu a:hover a:hover img.def {
	display: none
}
ul.pureCssMenu a:hover ul {
	display: block
}
ul.pureCssMenu span {
	display: block;
	background-image: url('../images/arr_white2.gif');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 12px;
}
ul.pureCssMenu li:hover > a > span {
	background-image: url('../images/arrv_white2.gif');
}
ul.pureCssMenu a:hover span {
	_background-image: url('../images/arrv_white2.gif')
}
ul.pureCssMenu ul span, ul.pureCssMenu a:hover table span {
	background-image: url('../images/arr_white2.gif')
}
/*--------------------- FIM MENU COM DROP DOWN ---------------------*/