
#slideshow {
  position: relative;
}

.carousel-indicators {
  position: relative;
  z-index: 5;
}

.carousel-control {
  color: $blue;
  &:hover, &:focus {
    color: $blue;
  }
  z-index: 1;
}

.carousel-indicators li {
  z-index: 1;
}

.delivery {
  margin-top: -30px;
}

.bg-delivery {
  background: url(../images/bg_delivery.jpg) no-repeat top center;
  background-size: contain;
  min-height: 675px;
}

.delivery-text {
  padding-top: 50px;
  text-transform: uppercase;
  p, span {
    color: #525252;
    font-size: 24px;
  }
  p small {
    text-transform: none;
    font-size: 16px;
  }
  h3 {
    color: $blue;
    font-size: 28px;
  }
}

footer {
  background-color: #EBEAED;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 12px;
}

.border-blue-right {
  border-right: 1px solid $blue;
}

.links-footer li a {
  font-size: 18px;
}

.img-footer {
  width: 45%;
}