.bg-products-services {
  background: url(../images/bg-products-services.jpg) no-repeat top center;
  min-height: 988px;
}

.products-services .products-text h1 {
  color: $blue;
}

.products-text {
  p, h3 {
    text-transform: uppercase;
  }
  p {
    padding: 20px 0;
    color: #525252;
    font-size: 18px;
  }
  h3 {
    color: $blue;
    padding-bottom: 50px;
  }
}

.media {
  padding: 25px 0;
  .media-body {
    .media-heading, a {
      text-transform: uppercase;
      color: $blue;
      font-weight: bold;
    }
  }
}
