body{
  font-family: 'Avenir-Regular';
}
header {
  text-transform: uppercase;
  box-shadow: 0px -5px 30px #313131;
}
.blue-line{
  background-color: #15325c;
  text-indent: -9999px;
  height: 20px;
}
.gold-line{
  background-color: #F4D400;
  text-indent: -9999px;
  height: 5px;
}
.navbar{
  min-height: 0;
  height: 41px;
}
.navbar-toggle {
  border-color: #ddd;
  margin-top: 0;
}
.navbar-toggle:hover {
  background-color: #ddd;
}
.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
.nav-pills>li>a {
  border-radius: 0px;
  font-weight: bolder;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #15325c;
  font-weight: bolder;
}
.top-phone{
  color: #15325c;
  margin-top: 12px;
}
.top-phone span{
  color: #525252;
  font-weight: bold;
}
.link-face i img{
  margin-top: -5px;
  padding-left: 5px;
}
#slideshow{
  margin-top: -20px;
  z-index: -5;
  position: relative;
}
.carousel-indicators{
  position: relative;
  z-index: 5;
}
.carousel-control, .carousel-control:hover, .carousel-control:focus {
  color: #15325c;
}
.carousel-control, .carousel-indicators li{
  z-index: 1;
}
.bg-delivery{
  background: url(../images/bg_delivery.jpg) no-repeat top center;
  min-height: 675px;
}
.delivery-text{
  padding-top: 50px;
  text-transform: uppercase;
}
.delivery-text p, .delivery-text span{
  color: #525252;
  font-size: 24px;
}
.delivery-text p small{
  text-transform: none;
  font-size: 16px;
}
.delivery-text h3{
  color: #15325C;
  font-family: 'Avenir-Black';
  font-size: 28px;
}
.bg-products-services{
  background: url(../images/bg-products-services.jpg) no-repeat top center;
  min-height: 988px;
}
.bg-travel-insurance{
  background: url(../images/bg-travel-insurance.jpg) no-repeat top center;
  min-height: 905px;
}
.bg-contact-us{
  background: white;
  min-height: 905px;
}

footer{
  background-color: #EBEAED;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 12px;
}
@media (min-width: 1px) and (max-width: 767px){
  .nav {
    background-color: rgba(255,255,255,0.9);
  }
  .top-phone{
    text-align: center;
  }
  .link-face{
    text-align: center;
  }
  .logo-topo{
    text-align: center;

  }
  footer{
    text-align: center;
  }
}