//colors default from focco cambio
$blue-lighter-shadow: #357EE8;
$blue-light-shadow: #265CA8;
$blue-focco: #15325c;
$blue-dark-shadow: #183969;
$blue-darker-shadow: #0F2442;

$yellow: #F4D400;
$gray: #707070;

$green: #64cea2;
$dark-green: #4B9B7A;
$orange: #f89a46;
$dark-orange: #C57A38;
$light-orange: #ffc490;
$fb-blue: #4564a3;
$fb-dark-blue: #2F4570;
$gray-shadow: #b1b1b1;
$light-gray: #f5f5f5;
$lighter-gray: #e8e8e8;
$lighter-gray-plus: #C3C3C3;
$red: #F07464;
$white: #FFF;
$whitesmoke: #F5F5F5;

$blue-regular: #5488C7;
$blue-light: #69ACDF;
$blue-light-hover: #62A6D9;
$blue-dark: #3BAFDA;
$blue-lighter: #4FC1E9;
$blue-button: #5087C7;

$red-regular: #E9573F;
$red-dash: #F57156;

$yellow-regular: #F6BB43;
$yellow-light: #FFCE54;

$gray-dark: #9C9CA2;
$gray-light: #80848C;
$gray-number: #676A73;
$gray-lighter: #D8D8D8;
$gray-regular: #A4B0B2;
$gray-light-2: #F4F3F9;
$gray-light-3: #B0B0B0;

$brown-dark: #A3897A;
$brown-regular: #caba9f;

$white: #FFF;
$white-light: #FAFAFA;
$white-number: #F2F2F2;
$white-dark: #F5F5F5;
$white-dark3: #F6F6F6;
$white-tabs: #EAEAEA;
$black: #000;
$black-light: #303030;
$dark: #373D49;
$black-medium: #464C58;

.bg-transparent{
  background: transparent !important;
}
.bg-light-gray{
  background-color: $light-gray !important;
}
.bg-gray{
  background-color: #fbfbfb !important;
}
.bg-white{
  background-color: $white !important;
}
.bg-blue{
  background-color: $blue-focco !important;
}
.bg-yellow{
  background-color: $yellow !important;
}
.bg-whitesmoke{
  background-color: $white-dark !important;
}
.blue-focco{
  color: $blue-focco;
}
.yellow{
  color: $yellow;
}
.orange{
  color: $orange;
}
.gray{
  color: $gray;
}
.red{
  color: $red;
}
.green{
  color: $green;
}
.white{
  color: $white;
}
.big-font{
  font-size: 50px;
}
.small-font{
  font-size: 8px;
}
.font-regular{
  font-weight: 400;
}
.font-medium{
  font-weight: 500;
}
.font-semibold{
  font-weight: 600;
}
.font-bold{
  font-weight: 700;
}
.font-18{
  font-size: 18px;
}
.font-15{
  font-size: 15px;
}
.font-14{
  font-size: 14px;
}
.font-12{
  font-size: 12px;
}
.font-10{
  font-size: 10px;
}
.font-italic{
  font-style: italic;
}