@import 'patterns';

/*Sidebar Fixed CSS fix*/
header, main, footer {
  padding-left: 240px;
}
.title-forms{
  strong{
    font-weight: 800;
  }
}
body{
  color: $gray;
  font-family: 'Avenir-Regular';
}

.loginForm{
  background-color: $light-gray;
}
.logo-bottom{
  margin-top: -7px;

  & img{
    width: 80%;
  }
}
.spacing{
  padding-bottom: 25px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $blue;
}

blockquote {
  border-left: 5px solid $blue;
}

nav ul a, .side-nav.fixed a {
  color: $gray;
}

table td a{
  color: $blue;

  &:hover, &.active{
    color: rgba($blue, 0.6)
  }
}

/* label color */
.input-field label {
  color: $gray;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus,
.input-field textarea:focus + label {
  color: $gray;
}
/* label underline focus color */
.input-field input[type=text]:focus,
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])  {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label{
  color: $gray;
}

/* valid color
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $gray;
}

.picker__weekday-display {
  background-color: $blue-dark-shadow;
}

.picker__date-display {
  background-color: $blue;
}

.picker__close,
.picker__today {
  color: $blue;
}

button.picker__today:focus,
button.picker__clear:focus,
button.picker__close:focus {
  background-color: $blue-lighter-shadow;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.tabs {
  .tab a{
    color: $blue-light-shadow;

    &:hover{
      color: $blue;
    }
  }
  .indicator {
    background-color: $blue-lighter-shadow;
  }
}

.table-visualization{
  tbody{
    tr{
      td:first-child{
        font-weight: 600;
      }
    }
  }
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid $blue;
  background-color: $blue;
}

.docs-img{
  figure{
    margin: 5px;
  }
}

.alert{
  padding: 0px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.success{
    color: #1b5e20;
    background-color: #e8f5e9;
    border-color: #4caf50;
  }
  &.error{
    color: #b71c1c;
    background-color: #ffebee;
    border-color: #f44336;
  }
  &.warning{
    color: #f57f17; //darken-4
    background-color: #fffde7; // lighten-5
    border-color: #ffee58; //normal color
  }
}

.cotation-table{
  tbody{
    tr{
      td:first-child{
        font-weight: 700;
      }
    }
  }
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
