@import 'patterns';

/*Sidebar Fixed CSS fix*/
header, main, footer {
  padding-left: 240px;
}
.title-forms{
  strong{
    font-weight: 800;
  }
}
body{
  color: $gray;
  font-family: 'Avenir-Regular';
}

.loginForm{
  background-color: $light-gray;
}
.logo-bottom{
  margin-top: -7px;

  & img{
    width: 80%;
  }
}
.spacing{
  padding-bottom: 25px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $blue-focco;
}

blockquote {
  border-left: 5px solid $blue-focco;
}

nav ul a, .side-nav.fixed a {
  color: $gray;
}

table td a{
  color: $blue-focco;

  &:hover, &.active{
    color: rgba($blue-focco, 0.6)
  }
}

/* label color */
.input-field label {
  color: $gray;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus,
.input-field textarea:focus + label {
  color: $gray;
}
/* label underline focus color */
.input-field input[type=text]:focus,
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])  {
  border-bottom: 1px solid $blue-focco;
  box-shadow: 0 1px 0 0 $blue-focco;
}
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label{
  color: $gray;
}

.input-field .prefix.active {
  color: $gray;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.tabs {
  .tab a{
    color: $blue-focco;

    &:hover{
      color: $blue-dark-shadow;
    }
  }
  .indicator {
    background-color: $blue-dark-shadow
  }
}

.table-visualization{
  tbody{
    tr{
      td:first-child{
        font-weight: 600;
      }
    }
  }
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid $blue-focco;
  background-color: $blue-focco;
}

.docs-img{
  figure{
    margin: 5px;
  }
}

.alert{
  padding: 0px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0px;

  &.success{
    color: #1b5e20;
    background-color: #e8f5e9;
    border-color: #4caf50;
  }
  &.error{
    color: #b71c1c;
    background-color: #ffebee;
    border-color: #f44336;
  }
  &.warning{
    color: #f57f17; //darken-4
    background-color: #fffde7; // lighten-5
    border-color: #ffee58; //normal color
  }
  &.observation{
    color: #464C58; //darken-4
    background-color: #FAFAFA; // lighten-5
    border-color: #373D49; //normal color
  }
}

.cotation-table{
  tbody{
    tr{
      td:first-child{
        font-weight: 700;
      }
    }
  }
}
.disabled{
  pointer-events: none;
}

.users{
  nav{
    height: 40px;
    line-height: 40px;
  }

  .profile-img{
    img{
      width: 140px;
      height: 140px;
    }
  }
}

.clients{
  nav{
    height: 40px;
    line-height: 40px;
  }

  .collection{
    border: none;
    border-radius: 0;

    .collection-item{
    }
  }
}