
.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 849px;
		-o-border-radius: 849px;
		-ms-border-radius: 849px;
		-webkit-border-radius: 849px;
		-moz-border-radius: 849px;
}

.cssload-whirlpool {
	margin: -21px 0 0 -21px;
	height: 42px;
	width: 42px;
	animation: cssload-rotate 1600ms linear infinite;
		-o-animation: cssload-rotate 1600ms linear infinite;
		-ms-animation: cssload-rotate 1600ms linear infinite;
		-webkit-animation: cssload-rotate 1600ms linear infinite;
		-moz-animation: cssload-rotate 1600ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -20px 0 0 -20px;
	height: 37px;
	width: 37px;
	animation: cssload-rotate 1600ms linear infinite;
		-o-animation: cssload-rotate 1600ms linear infinite;
		-ms-animation: cssload-rotate 1600ms linear infinite;
		-webkit-animation: cssload-rotate 1600ms linear infinite;
		-moz-animation: cssload-rotate 1600ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -25px 0 0 -25px;
	height: 48px;
	width: 48px;
	animation: cssload-rotate 3200ms linear infinite;
		-o-animation: cssload-rotate 3200ms linear infinite;
		-ms-animation: cssload-rotate 3200ms linear infinite;
		-webkit-animation: cssload-rotate 3200ms linear infinite;
		-moz-animation: cssload-rotate 3200ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}